<html>
<head>
  <title>Kindhub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  </head>
  <body class="bg-dark">
    <center>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="weather">Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="xkcd">XKCD</a>
      </li>
      </nav>
      <p></p>

      {{ calendar }}

      </center>
      <footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <p>Designed and built by Wilson McDade</p>
    <p>mcdade@csh</p>
  </div>
</footer>
</body>
</html>
