<html>
<head>
  <title>Kindhub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  </head>
  <body class="bg-dark">

      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
  	    {% for widg, widget in widgets.items() %}
          <li class="nav-item">
    	      <a class="nav-link" href="{{ widget.route }}">{{ widget.strname }}</a>
          </li>
        {% endfor %}
        </ul>
      </nav>

      <p></p>

      <!-- Begin Widget -->

      <center>

        <script type='text/javascript' src='https://darksky.net/widget/default/{{ loc }}/us12/en.js?width=100%&height=600&title={{ loc_name }}&textColor=888889&bgColor=f8f9fa&transparency=false&skyColor=undefined&fontFamily=Default&customFont=&units=us&htColor=6d6d6d&ltColor=888889&displaySum=no&displayHeader=yes'></script>

      </center>

      <!-- End Widget -->

  <footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
      <p>Designed and built by Wilson McDade</p>
    </div>
  </footer>
</body>
<html>
