<html>
<head>
  <title>Kindhub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  </head>
  <body>
    <center>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="weather">Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="xkcd">XKCD</a>
      </li>
      </nav>

      <img src="{{ img }}">
      <p>{{ alt_text }}</p>

          </center>
      </body>
