<html>
<head>
  <title>Kindhub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  </head>
  <body class="bg-dark">
    <center>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
	     {% for widg, widget in widgets.items() %}
      <li class="nav-item">
	      <a class="nav-link" href="{{ widget.route }}">{{ widget.strname }}</a>
      </li>
      {% endfor %}
      </nav>
      <p></p>
      <img src="{{ img }}">
      <p></p>
      <p style="color:#F8F9FA">{{ alt_text }}</p>

          </center>
      </body>
